/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 20 px auto;
    width: auto;
}
#main {
}
#header {
    height: 100px;
    background-color: appworkspace;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#centerColumn {
    height: 400px;
    width: auto;
    background: #ffffff;
    align-content: center;
    padding-left: 30px;
}

#centerColumn2 {
    height: 445px;
    width: auto;
    align-content: center;
    padding-left: 30px;
}
#indivProd {
    padding-left: 325px;
    align: center;
}
#footer {
    position: absolute; 
    bottom: 0px;
    width: 100%;
    height: 45px;
    clear: left;
    background-color: appworkspace;
    text-align: center;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
#logo {
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 30px;
    margin-top: -20px;
}
#logoText {
    float: left;
    margin: 20px 0 0 70px;
    float-family: 'American Typewriter', Courier, monospace;
    font-size: 75px;
    color: #333;
}
#widgetBar {
    height: 50px;
    width: 850px;
    float:right;

}
.headerWidget{
    width: 194px;
    margin: 20px 2px;
    font-size: small;
    float: right;
    line-height: 25px;
    background-color: appworkspace;
}
.image {
    height: 200px;
    width: 275px;
    margin: 21px 14px 6px;
    float: left;
    align-content:center;

}
th, td {
     padding: 5px;
     }

.box {
    border-style: solid;
    border-width: medium;
    text-align: center;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.categoryText {
    line-height: 150%;
    font-size: x-large;
}

.productText {
    line-height: 150%;
    font-size: x-large;
}
hr{
    border: 0;
    background-color: #333;
    height: 1px;
    margin: 0 2px;
    width: 300px;
}
#welcomeText {
    font-size: x-large;
}


span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}

.pad_top {
    padding-top: 0.25em;
}

.myButton{
           background-color: Red;
           color: white;
           border-radius: 5px;
           height: 30px;
           width: 75px;
           position: absolute; 
           left: 25px;
           top: 25px;
           cursor:pointer;
}

input[class=viewCart] {

    marigin-top: 25px;
    background:#0BB708;
    color:white;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 

}

input[class=bButton] {

    marigin-top: 25px;
    background:white; 
    border-color: black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 

}

input[class=bButton]:hover
{
    background:black;
    color:white;
}

